{% extends "perfiles/index.html" %}

{% block content %}
<section class="perfil">
    <div class="card">
        <div class="icon">
            <img src="{{ user.avatar.imagen.url }}" />
            <p><b>{{ object.username }}</b></p>
        </div>
        <div class="titles">
            <h3>Editar datos:</h3>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label class="form-label" for="id_last_name">Apellido:</label>
                    {{ form.last_name }}
                </div>
            
                <div class="form-group">
                    <label class="form-label" for="id_first_name">Nombre:</label>
                    {{ form.first_name }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="id_email">Correo electrónico:</label>
                    {{ form.email }}
                </div>

                <input type="submit" value="Salvar"/>
        </form>
    </div>
    </div>
</sction>
{% endblock content %}
