{% extends "juegosApp/index.html" %}

{% block contenido %}
<section class="section-2">
    <h1>Publica tu videojuego!</h1>
    
    <form action="{% url 'crear_juego' %}" method="POST">
        {% csrf_token %}
        <h4> Titulo de tu videojuego</h4>
        <input type="text" name="nombre">
        <h6> Genero o generos.</h6>
        <input type="text" name="genero">
        <h6> Fecha de lanzamiento </h6>
        <input type="date" name="lanzamiento">
        <h6> Descripcion de tu videojuego </h6>
        <textarea name="descripcion" rows="4" cols="40"></textarea>
        <h6> Costo de tu videojuego</h6>
        <input type="number" name="costo">
        <h6> Clasificacion</h6>
        <input type="number" name="clasificacion">
        <input type="submit" name="Enviar">
    </form>
</section>
{% endblock contenido %}