{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <header>
        <div class="nav">
           <h1 class="h1"> JuegosCom </h1>

           <nav class="navbar">
              <a class="nav-item" href="{% url 'inicio' %}">Inicio</a>
              <a class="nav-item" href="{% url 'listar_juegos' %}">Juegos</a>
              <a class="nav-item" href="{% url 'listar_juegos_gratis' %}">Free to play</a>
              {% if user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div style= "display: inline-flex;">
                    <span>{{user.username}}</span>
                  </div>
                </button>
                <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar tus datos.</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'agregar_avatar' %}">Agregar avatar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion.</a>
                </li>
                </ul>
              </div>
              {% else %}
              <a class="nav-item" href="{% url 'login' %}">Iniciar Sesion</a>
              <a class="nav-item" href="{% url 'registro' %}">Registro</a>
              {% endif %}
           </nav>
        </div>
    </header>

    <main>
        <section class="wrapper">
            <article>
                <div class="carousel">
                    <div class="slider">
                        <img id="slide-1" src="{% static 'images/rocket-league.jpeg' %}" alt="">
    
                        <img id="slide-2" src="{% static 'images/red-dead.jpeg' %}" alt="">
            
                        <img id="slide-3" src="{% static 'images/elden-ring.jpg' %}" alt="">
                    </div>
                    <div class="slider-nav">
                        <a href="#slide-1"></a>
                        <a href="#slide-2"></a>
                        <a href="#slide-3"></a>
                    </div>
              </div>
            </article>
        </section>


        {% block contenido %}
        {% endblock contenido %}

    </main>

    <footer>

    </footer>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>