{% extends "juegosApp/index.html" %}

{% block contenido %}

<section class="section-1">
  <article class="contenido" >
    <h1> FREE TO PLAY </h1>

    <div class="juegos">
    {% for FreeGame in FreeGames %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">{{ FreeGame.nombre }}</h4>
        <p class="card-text genero">{{ FreeGame.genero }}</p>
        <p class="card-text">{{ FreeGame.descripcion }}</p>
        <p class="date card-text">{{ FreeGame.lanzamiento }}</p>
        <div>
          {% if user == FreeGame.creador %}
          <a class="delete btn btn-danger" href="{% url 'eliminar_juego_gratis' FreeGame.id %}" method="POST">Eliminar</a>
          {% endif %}
          {% if user == FreeGame.creador %}
          <a class="edit btn btn-primary" href="{% url 'editar_juego_gratis' FreeGame.id %}" method="POST">Editar</a>
          {% endif %}
          <a class="edit btn btn-success" href="{% url 'editar_juego_gratis' FreeGame.id %}" method="POST">Comprar</a>
        </div>
      </div>
      
    </div>
    {% endfor %}
    </div>


    <div class="subtitulo">
      <p>Publica tu juego <b>AHORA</b> <a href="{% url 'crear_juego_gratis' %}">en este enlace. </a></p>
    </div>
    
    <form class="formulario" action="{% url 'buscar_juego_gratis' %}" method="POST">
      {% csrf_token %}
      <h4> Buscador por genero:</h4>
      <input type="text" name="busqueda">
      <input type="submit" name="Buscar por genero">
    </form>

    <ul>

    </ul>
  </article>
</section>
{% endblock contenido %}