{% extends "juegosApp/index.html" %}
{% load static %}

{% block contenido %}

<section class="section-1">
  <article class="contenido" >
    <h1> Tendencias </h1>

    <div class="juegos">
    {% for PayGame in PayGames %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">{{ PayGame.nombre }}</h4>
        <p class="card-text genero">{{ PayGame.genero }}</p>
        <p class="card-text">{{ PayGame.descripcion }}</p>
        <p class="date card-text">{{ PayGame.lanzamiento }}</p>
        <h6 class="card-title costo">${{ PayGame.costo }}</h6>
        <div>
          <a class="delete btn btn-danger" href="{% url 'eliminar_juego' PayGame.id %}" method="POST">Eliminar</a>
          <a class="edit btn btn-primary" href="{% url 'editar_juego' PayGame.id %}" method="POST">Editar</a>
          <a class="edit btn btn-success" href="{% url 'editar_juego' PayGame.id %}" method="POST">Comprar</a>
        </div>
        
      </div>
    </div>
    {% endfor %}
    </div>


    <div class="subtitulo">
      <p>Publica tu juego <b>AHORA</b> <a href="{% url 'crear_juego' %}">en este enlace. </a></p>
    </div>
    
    <form class="formulario" action="{% url 'buscar_juego' %}" method="POST">
      {% csrf_token %}
      <h4> Buscador por precios:</h4>
      <input type="text" name="busqueda">
      <input type="submit" name="Buscar por costo">
    </form>

    <ul>

    </ul>
  </article>
</section>
{% endblock contenido %}